body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #003366;
  color: #fff;
  text-align: center;
}

.main-h1 {
  position: relative;
  top: 0;
  font-weight: bold;
  padding: 2%;
}

/* Media Queries */

  @media (max-width: 576px) {
    .mb-md-0 {
      margin-bottom: 1.5rem !important;
    }
  }

  .stretch-btn {
    width: 100%;
  }
  
  @media (min-width: 780px) {
    .stretch-btn {
      width: auto;
    }
    
  }
  